body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

nav {
    background-color: #fff;
    padding: 0;
    font-size: 1.04em;
    width: 100%;
    max-width: 1000px;
    text-align: left;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-left: 0;
    border-right: 0;
}
nav ul {
    text-align: right;
    padding: 0;
    margin: 0;
    overflow: auto;
}
nav ul li {
    display: inline-block;
    border-left: 2px solid #ddd;
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 0.5em;
}
nav a:hover {
    background-color: rgb(208,208,208);
}
.moodimage {
    text-align: left;
    margin: 0 auto;
    max-width: 1000px;
    overflow: hidden;
    max-height: 600px;
}
.moodimage img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
}
.moodimage .bannertext {
    position: absolute;
    margin-top: 5.5em;
    margin-left: 3em;
    width: 70%;
    background: rgba(255,255,255, 0.7);
    padding: 1em;
    max-width: 500px;
    color: #333;
}
.moodimage .bannertext img {
    width: 20%;
    float: left;
    margin-right: 5%;
}
.moodimage h2 {
    margin-top: 0;
}
.maincontent {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    border-top: 0;
    padding: 40px 50px;
    background: rgba(255,255,255, 0.7);
    min-height: 400px;
}
@media all and (max-width: 1000px) {
    .maincontent {
        padding: 15px 5%;
        border: 0;
    }
}
@media all and (min-width: 1000px) {
    body {
        padding-top: 20px;
        background-image: url(../Images/page_background.jpg);
        background-size: 100% auto;
    }
}
@media all and (max-width: 567px) {
    img.mood {
        display: none;
    }
}
@media all and (max-width: 610px) {
    .moodimage .bannertext {
        position: relative;
        background-color: #eee;
        padding: 1em 5%;
        width: 90%;
        margin: 0;
        left: 0;
        max-width: 600px;
    }
    nav {
        position: relative;
    }
    nav ul li {
        display: block;
        padding: 0;
        border-bottom: 1px dashed #666;
    }
    nav ul li:last-child {
        border-bottom: 0;
    }
    nav a {
        padding: 1em;
        display: block;
    }
    nav a:hover {
        text-decoration: none;
        padding-right: 1.2em;
    }
    .csc-textpic .csc-textpic-imagewrap {
        float: none;
        width: 100%;
    }
}

.csc-textpic .csc-textpic-imagewrap {
    width: 50%;
}
.csc-textpic img {
    width: 100%;
    height: auto;
}

.maincontent h1,
.maincontent p {
    margin-top: 0;
}