body {
	background-color: white;
	text-align: center;
	font-family: 'Nunito', Arial, sans-serif;
}

.pagewrap {
	background-color: #fff;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	text-align: left;
}

header {
	background-color: #483157;
	padding-bottom: 80px;
}

header img.mood {
	width: 100%;
	max-width: 1000px;
	height: auto;
	display: block;
}

header .logowrap {
	float: right;
	width: 338px;
	overflow: auto;
	padding: 10px 0;
}

header .logowrap img {
	height: 120px;
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	transform: rotate(6deg);
	display: block;
	float: left;
}

header .logowrap h2 {
	font-family: Italianno, Arial, sans-serif;
	display: block;
	float: left;
	font-size: 3.1em;
	color: #fff;
	width: 250px;
	margin: 16px 0 10px;
	line-height: 1em;
}

header .logowrap h2 .l1,
header .logowrap h2 .l2 {
	display: block;
}

header .logowrap h2 .l1 {
	padding-left: 20px;
}

nav {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 70px 0;
	font-size: 1.04em;
	width: 300px;
	max-width: 1000px;
	text-align: left;
	border-left: 0;
	border-right: 0;
	margin-left: 30px;
	position: absolute;
	margin-top: 100px;
	height: 377px;
}

nav ul {
	text-align: left;
	padding: 0;
	margin: 0;
	overflow: auto;
}

nav a {
	text-decoration: none;
	color: #483157;
	font-weight: bold;
	display: block;
	padding: 0.5em 30px;
	font-size: 1.2em;
}

nav .active a,
nav a:hover {
	background-color: rgb(208, 208, 208);
}

.maincontent {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	text-align: left;
	border-top: 0;
	padding: 40px 50px;
	background: rgba(255, 255, 255, 0.7);
	min-height: 400px;
}

.csc-textpic .csc-textpic-imagewrap {
	width: 50%;
}

.csc-textpic img {
	width: 100%;
	height: auto;
}

.maincontent h1,
.maincontent p {
	margin-top: 0;
}

@media all and (max-width: 1000px) {
	.maincontent {
		padding: 15px 5%;
		border: 0;
	}
}

@media all and (min-width: 1000px) {
	body {
		padding-top: 20px;
		background-image: url(../Images/page_background.jpg);
		background-size: 100% auto;
	}
}

@media all and (max-width: 479px) {
	header img.mood {
		display: none;
	}
}

@media all and (max-width: 610px) {
	nav {
		font-size: 0.9em;
		position: relative;
	}

	nav ul li {
		display: block;
		padding: 0;
		border-bottom: 1px dashed #666;
	}

	nav ul li:last-child {
		border-bottom: 0;
	}

	nav a {
		padding: 0.5em 1em;
		display: block;
	}

	nav a:hover {
		text-decoration: none;
		padding-right: 1.2em;
	}

	.csc-textpic .csc-textpic-imagewrap {
		float: none;
		width: 100%;
	}
}