body {
	background-color: white;
	text-align: center;
	font-family: Arial, sans-serif;
	background-image: url(../Images/page_background.jpg);
	background-size: 100% auto;
	padding-top: 14px;
}
body.diapers {
	background-image: url(../Images/page_background_diapers4.jpg);
	background-position: center -30px;
}
@media all and (max-width: 1086px) {
	body {
		padding-top: 0;
	}
}

a {
	display: inline-block;
	color: #6c8643;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	font-family: 'Nunito', Arial, sans-serif;
}

.pagewrap {
	background-color: rgba(255, 255, 255, 0.65);
	max-width: 1086px;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 15px;
}

header {
	background-color: #483157;
	padding: 0 15px 15px;
}
body.diapers header {
	background-color: #50AC9D;
}

header img.mood {
	width: 100%;
	max-width: 1056px;
	height: auto;
	display: block;
}

header .logowrap {
	overflow: auto;
	padding: 14px 28px;
	text-align: right;
}

header .logowrap a {
	display: block;
	float: right;
}

header .logowrap img {
	display: block;
	height: 120px;
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	transform: rotate(6deg);
}

header .logowrap h2 {
	color: #fff;
	display: block;
	float: right;
	font-family: Parisienne, Arial, sans-serif;
	font-size: 3.1em;
	line-height: 1em;
	text-align: left;
	margin: 16px 0 0;
	font-weight: normal;
}

header .logowrap h2 .l1,
header .logowrap h2 .l2 {
	display: block;
}

header .logowrap h2 .l1 {
	padding-left: 20px;
}

nav {
	font-family: 'Nunito', Arial, sans-serif;
	background-color: rgba(255, 255, 255, .85);
	padding: 14px 0;
	font-size: 1.04em;
	width: 229px;
	text-align: left;
	border: 0;
	margin-left: 28px;
	position: absolute;
	margin-top: -14px;
	height: 372px;
	-moz-box-shadow: 3px 3px 3px 1px rgb(63, 39, 79);
	-webkit-box-shadow: 3px 3px 3px 1px rgb(63, 39, 79);
	box-shadow: 3px 3px 3px 1px rgb(63, 39, 79);
}

nav ul {
	text-align: left;
	padding: 0;
	margin: 0;
	overflow: auto;
}

nav a,
nav .active span {
	text-decoration: none;
	color: #483157;
	font-weight: bold;
	display: block;
	padding: 7px 14px;
	font-size: 1.1em;
}
body.diapers nav a,
body.diapers nav .active span {
	color: #50AC9D;
}

nav .active span,
nav a:hover {
	background-color: rgba(102, 62, 122, 0.3);
	text-decoration: none;
}
body.diapers nav .active span,
body.diapers nav a:hover {
	background-color: rgba(80, 172, 157, 0.3);
	text-decoration: none;
}

.maincontent {
	text-align: left;
	padding: 29px 0 0 28px;
	min-height: 400px;
	color: #483157;
	border: 15px solid #483157;
	border-top: 0;
}
body.diapers .maincontent {
	color: #50AC9D;
	border-color: #50AC9D;
}

.csc-textpic .csc-textpic-imagewrap {
	width: 50%;
}

.csc-textpic img {
	width: 100%;
	height: auto;
}

.maincontent h1,
.maincontent p {
	margin-top: 0;
}

.maincontent p {
	line-height: 1.4em;
}

.gridrow {
	overflow: auto;
}

.gridrow .col {
	float: left;
	margin-right: 28px;
	padding: 14px;
}
.gridrow .col.bleed {
	padding: 0;
}
.gridrow .col1-4 {
	width: 201px;
}
.gridrow .col1-4.bleed {
	width: 229px;
}
.gridrow .col3-4 {
	width: 715px;
}
.gridrow .col3-4.bleed {
	width: 743px;
}